/.bundle/
/pkg/
/tmp/
*.gem
Gemfile.lock
editors/intellij/her/build/
editors/intellij/her/.gradle/
editors/intellij/her/.intellijPlatform/
examples/sinatra_app/Gemfile.lock
examples/sinatra_app/.bundle/
